{% extends 'base.html' %}

{% block main %}
<div class = "container-fluid">
    <div id = "home">
    <img id="banner" src="static/Tutorial/img/banner.png">
    <p>
        The Temple University bulletin called TUHappening will 
        allow students to publicly or anonymously discuss topics 
        about everything Temple. Students can talk about classes, 
        news, sports, clubs, faculty, services, or anything else 
        they might want to discuss. It is an open forum to Temple 
        Students only! Students can create new topics to talk about 
        or find other topics to talk to students about. Clubs on
        campus can advertise events, students can discuss classes 
        or the professors that run them, chat about <a 
            href="http://www.ratemyprofessors.com/campusRatings.jsp?sid=999">
            Rate My Professor</a> rankings, or comment on local 
        eats and bars! Sign up today to see what your peers think 
        about the community around you.
    </p>
    </div>
</div>
{% endblock main %}